/* @font-face {
    font-family: "TradeGothicBlack";
    src: url(/src/assets/fonts/TradeGothicBold.ttf);
} */

body {
    /* font-family: "TradeGothicBlack"; */
    font-family: 'Courier New', Courier, monospace;
    background-color: #1E3765;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#h1 {
    /* font-family: "TradeGothicBlack"; */
    font-family: 'Courier New', Courier, monospace;
}

#title {
    color: #FFFFFF;
    margin-bottom: 16px; /* Adjust as needed */
}

#courseInfo {
    background-color: #1E3765;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    color: white;
}

#logo {
    max-width: 25%;
    max-height: 25%;
    margin-bottom: 10px;
}

#programSelect {
    width: 100%; /* Ensures the select element does not exceed the width of its container */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    margin: 0; /* Removes any default margin */
    padding: 4px; /* Adds some padding inside the select box for better readability */
    overflow: hidden; /* Prevents the content from overflowing */
    border: 1px solid #ccc; /* Optional: adds a border for better visibility */
    border-radius: 4px; /* Optional: rounds the corners of the select box */
}

/* Style for the options within the dropdown */
#programSelect option {
    overflow: hidden; /* Ensures the text in each option does not overflow */
    white-space: nowrap; /* Prevents the text from wrapping */
    text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
}
